
<div class="container m-3 border-0" >
  <h1>Stupid Coaching</h1>
  <p>Ask Your Coach Anything</p>
  <form action="/answer" method="get" >
  <input class="input" type="text" name="question" placeholder="ask your coach">
  <input class="btn btn-success rounded-0" type="submit" value="Ask!">
  </form>
</div>
